.field-cloudflare_video .is-hidden {
	display: none;
}

.field-cloudflare_video button {
	float: right;
}

.field-cloudflare_video div {
	clear: right;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.field-cloudflare_video div:not(:empty) {
	margin: var(--standard-inner-rhythm);
}

.field-cloudflare_video div>* {
	margin: 0;
	margin-right: var(--spacing-micro);
}