.field-cloudflare_video .is-hidden {
	display: none;
}

.field-cloudflare_video .cloudflare-video-ctn {
	padding: 1rem;
	box-sizing: border-box;
	position: relative;
	border: 1px solid #d3dce2;
	background: #f4f8fb;
	border-radius: 5px;
	margin-top: 1rem;
	text-align: center;
}

.field-cloudflare_video img, .field-cloudflare_video stream {
	margin-top: 1rem;
	width: 100%;
}

.field-cloudflare_video p {
	margin-top: 1rem;
	margin-bottom: 0;
	text-transform: none;
}

.field-cloudflare_video .cloudflare-video-progress {
	margin-top: 1rem;
}

.field-cloudflare_video .cloudflare-video-progress p {
	margin-top: 0.5rem;
}

.field-cloudflare_video .cloudflare-video-progress-bar {
	height: 5px;
	background-color: #2f77eb;
	border-radius: 5px;
}

.field-cloudflare_video .invalid .file {
	margin-bottom: 1rem !important;
	color: #657685;
}

.field-cloudflare_video .invalid > p {
	margin-bottom: 3rem;
}
